

<% if $topic['topic_text'] != nil %>
	<h1><%= markdown($topic['topic_text']) %></h1>
<% end %> 

<% @comments.each do |comment| %>
	<div class="comment_box">
		<h2> <%=markdown(comment['comments_text'])%> </h2>
		<span><%=comment['create_at'] + " |"%></span>
		<span><%=comment['userid'] + " |"%> </span>
		<span><%=comment['location']%></span>
	</div>
<% end %>

<a href="/comments/new">Add a comment</a>
<a href="/topics">Go back to list</a>
