

<!--  -->
<!-- Show topics and link topics to comments page  -->
<a href="/chart"><img class="topic" src="/image/pa.jpg" style="width: 30%"></a>
<br>
<a href="/chart">charts</a>
<br>
<% if session[:user_id] != nil %>
	<h4><%= "You're logged in as #{session[:user_id]}"%></h4>
 	<form method="post" action="/logout">
 		<input type="hidden" name="_method" value="delete"></input>
		<input type="submit" value="Logout"></input>
<% else %>
	<a href="/login"><%="Sign in to Bobo?"%></a>
<% end %>
<br>
<a href="/newtopic">Add New Topic</a>
<% @topics.each do |topic| %>


<!-- voting -->
<div class="topic_row">
	<div class="topic_column" id="t1"> 
		<form class="voting" action="/vote" method="post">
		<input class="voter" type="submit" value ="up" name="<%=topic['id']%>"></input>
		<span class="vote">vote: <%=topic['vote']%></span>
		<input class="voter" type="submit" value ="down" name="<%=topic['id']%>"></input>
		</form>
	</div>
<!--voting -->

<!-- topic -->
	<div class="main_column">
		<a href="/topics/<%=topic['id']%>">
			<h3 class="topic_text"> <%=markdown(topic['topic_text'])%> </h3>
		</a>
		<p> <%=topic['location'] %> </p>
	</div>
	<div class="topic_column"> 
		<a href="/topics/<%=topic['id']%>"><p>comments: #<%=topic['counter']%> </p>
		</a>
	</div>
<!--	 -->
</div>

<% end %>


