

<!--  -->
<!-- Show topics and link topics to comments page  -->

<% if session[:user_id] != nil %>
<h4><%= "You're logged in as #{session[:user_id]}"%></h4>
<% else %>
<a href="/login"><%="Sign in to Bobo?"%></a>
<% end %>

<a href="/newtopic">Add New Topic</a>

<% @topics.each do |topic| %>


<!-- voting -->
<div class="topic_row">
	<div class="topic_column"> 
		<form action="/vote" method="post">
		<p>vote: <%=topic['vote']%></p>

		<input type="submit" value ="up" name="<%=topic['topic_id']%>"></input>
		<input type="submit" value ="down" name="<%=topic['topic_id']%>"></input>
		</form>
	</div>
<!--voting -->

<!-- topic -->
	<div class="topic_column">
		<a href="/topics/<%=topic['id']%>">
			<h3> <%=markdown(topic['topic_text'])%> </h3>
		</a>
	</div>
		<div class="topic_column"> comments: #<%=topic['counter']%> 
		</div>
<!--	 -->
</div>

<% end %>


